### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
    Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
#  MovieLens 25M Dataset 
# https://grouplens.org/datasets/movielens/25m/
import pandas as pd
df = pd.read_csv('ml-25m/ratings.csv')

In [2]:
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
a = df.query('rating == 5').groupby('movieId').count().sort_values('rating', ascending=False)

In [4]:
df_movies = pd.read_csv('ml-25m/movies.csv')
df_movies[df_movies['movieId'] ==a.index[0]]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
df_power = pd.read_csv('power.csv')
baltic_state = (df_power['country'] == 'Latvia') | (df_power['country']=='Lithuania') |  (df_power['country']=='Estonia')
our_categories = (df_power['category'] == 4) | (df_power['category'] == 12) | (df_power['category'] == 21)
our_period = (2005 <= df_power['year']) & (df_power['year'] <= 2010)
df_power[baltic_state & our_categories & our_period & (df_power['quantity'] > 0)]['quantity'].sum()

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [20]:
df_web = pd.read_html('https://fortrader.org/quotes')

In [19]:
df_web[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,86.6493,-0.0653,-0.0753,NaN
1,USDRUB Курс рубля к доллару,73.1254,-0.2368,-0.3228,NaN

In [12]:
for table in df_web:
    print(table.head())

                           Название     Цена  Изменение  Изменение(%)  \
0  EURRUB Курс евро к рублю сегодня  86.6493    -0.0653       -0.0753
1       USDRUB Курс рубля к доллару  73.1254    -0.2368       -0.3228

   Обновлено
0        NaN
1        NaN
                           Название      Цена   Изменение Изменение(%)  \
0  Нефть (BRENT) Курс нефти сегодня    45.510       +1.15        +2.59
1   Нефть (WTI) Цены на нефть (WTI)    42.790       +1.24        +2.98
2          Сахар котировки на сахар    12.630  нет данных   нет данных
3                   Газ Цена на газ     2.241      +0.062       +2.845
4                             CACAO  2449.000       0.000        0.000

   Обновлено
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
                      Название       Цена  Изменение  Изменение(%)  Обновлено
0      Серебро Цена на серебро    26.7930     0.5580        2.1270        NaN
1    Палладий Цена на Палладий  2198.6500    17.8500        0.8200        NaN
2  Золото Цена золота на бирже  2055.8000     7.2000        0.4000        NaN
3      Платина Цены на платину   975.6000    18.1000        1.9000        NaN
4      Медь Цена меди на бирже     2.4575    -0.4475      -15.4045        NaN
                   Название       Цена  Изменение  Изменение(%)  Обновлено
0             ВТБ Акции ВТБ     0.0388  -0.001585     -3.924725        NaN
1    Газпром Акции газпрома   187.2400   3.930000      2.140000        NaN
2       Лукойл Акции Лукойл  5095.5000  57.000000      1.100000        NaN
3   Роснефть Акции Роснефти   360.6500   0.850000      0.240000        NaN
4  Сбербанк Акции Сбербанка   226.1700  -0.990000     -0.440000        NaN
                           Название    Цена  Изменение  Изменение(%)  \
0               IBM Corp. IBM Corp.  125.59      -0.25         -0.20
1         Microsoft Microsoft Corp.  214.03       0.74          0.35
2                 APPLE Акции APPLE  438.69       0.03          0.01
3               Toyota Акции Тойоты  122.86      -0.05         -0.04
4  Volkswagen Курс акций Volkswagen  135.56       1.90          1.42

   Обновлено
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
                                  Название      Цена     Изменение  \
0                                  S&P 500    3317.0        +18.00
1  Фьючерс РТС Курс фьючерса на индекс РТС  118130.0      +116 870
2                      Индекс Dow 30 (DJI)   26896.0           +68
3                     РТС Курс индекса РТС  128220.0  +2 030.00000
4                                    DAX30   12702.3        +120.1

  Изменение(%)  Обновлено
0        +0.55        NaN
1       +9 274        NaN
2           +0        NaN
3     +1.60869        NaN
4         +1.0        NaN
                                           Название     Цена  Изменение  \
0                        EURUSD Курс евро к доллару  1.18502    0.00368
1        AUDCAD Australian Dollar / Canadian Dollar  0.95605    0.00188
2  AUDUSD Курс австралийского доллара к доллару сша  0.72113    0.00354
3                       GBPUSD Курс фунта к доллару  1.31217    0.00375
4                         EURCHF Euro / Swiss Franc  1.07755   -0.00052

   Изменение(%)  Обновлено
0       0.31151        NaN
1       0.19703        NaN
2       0.49332        NaN
3       0.28661        NaN
4      -0.04823        NaN
                                            Название         Цена  Изменение  \
0                              Bitcoin Курс биткоина  11388.50000  199.70000
1         Litecoin Курс лайткоин к доллару (LTC/USD)     58.87200    1.30200
2  BitcoinCash Курс Биткоин кеш к доллару США (BC...    291.24000    3.19000
3                                          Dash Dash     88.24400    1.48200
4                                      Ripple Ripple      0.30191    0.00067

   Изменение(%)  Обновлено
0       1.78500        NaN
1       2.26200        NaN
2       1.10700        NaN
3       1.70800        NaN
4       0.22241        NaN